html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1, h2 {
  color: #4c2d39;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

nav {
  font-size: 1.125rem;
  font-weight: bold;
}

nav ol {
  list-style-type: none;
}

nav a {
  color: #8f2440;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}

nav a:hover {
  color: #3f1622;
  text-decoration: underline;
}

time {
    color: #3f1622;
}

footer a {
  color: #8f2440;
  font-family: "PT Serif", serif;
  text-decoration: none;
}

footer a:hover {
  color: #3f1622;
  text-decoration: underline;
}
